@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --font: font-family: "Poppins", sans-serif;
    --font-btn: font-family: "Montserrat", sans-serif;

}

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    flex-direction: column;
    border-radius: 8px;
    padding: 50px 16px;
    background: linear-gradient(0deg, rgba(11, 20, 47, 0.90) 0%, rgba(11, 20, 47, 0.90) 100%), lightgray 50% / cover no-repeat;

}

small {
    color: #fff;
}

.services h2 {
    color: white;
    font-family: var(--font);
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
}

.visit-btn {
    font-family: var(--font-btn);
    font-weight: 500;
    color: white;
    padding: 12px 36px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    text-decoration: none;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards_benefit {
    text-align: center;
    margin-top: 2rem;
    border-radius: 10px;
    border: 1px solid #FFF;
    min-width: 200px;
    padding: 48px 24px;
}

.cards h3 {
    color: #FFF;

    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.46);
    font-family: var(--font);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 151.523%;
    /* 36.365px */
}

@media (min-width: 1440px) {

    .services_main {
        display: flex;        
    }

    .services h2 {
        width: 50%;
    }



    .cards {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .cards_benefit {       
       max-width: 250px;
        
    }





}